<div ng-controller="NamedWindowBrowseController">
    <div class="pull-right">
        <button type="submit" ng-click="doRefresh()" class="btn button-bar-margin">Refresh</button>
        <input type="image" src="/esperhqapp/assets/help.png" ng-click="doHelp()" class="button-bar-margin"/>
    </div>
    <div class="clear"></div>
    <div id="namedwindowbrowse_listdiv">
        <table width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Count</th>
                <th>Statement Name</th>
                <th>EPL</th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
