<div id="eventletsettings" ng-controller="EventletSettingsController">
    <div class="pull-right">
        <button type="submit" ng-click="doApply()" class="btn button-bar-margin">Apply</button>
        <button type="submit" ng-click="doOk()" class="btn button-bar-margin">Ok</button>
        <input type="image" src="/esperhqapp/assets/help.png" ng-click="doHelp()" class="button-bar-margin"/>
    </div>
    <div class="clear"></div>

    <form class="form-horizontal" novalidate name="form">
        <div class="control-group">
            <label class="control-label">Retain All Events:</label>
            <div class="controls">
                <div class="predefined-60wide"><input type="checkbox" ng-model="retain.retainAll" ng-change="doChangeRetainAll()"/></div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Retain Last:</label>
            <div class="controls">
                <input type="input" ng-model="retain.retainCount" ng-disabled="retain.retainAll"/>
                <select ng-model="retain.retainEnum" ng-options="r.name for r in unitChoices" ng-disabled="retain.retainAll"></select>
            </div>
        </div>
        <div class="control-group" ng-show="!retainCountValid">
            <div class="controls">
                <span class="span-invalid">Please enter a numeric (integer) value larger then zero</span>
            </div>
        </div>
    </form>
</div>
