<div>
    <div>
        <h2>EPL Debugger Online Terms of Use</h2>

        <p>
            PLEASE READ THE FOLLOWING TERMS OF SERVICE CAREFULLY BEFORE USING THE SERVICE.
            USE OF THE SERVICE WILL SIGNIFY YOUR AGREEMENT TO BE BOUND BY THESE TERMS OF SERVICE.
            IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, DO NOT PROCEED.
        </p>

        <span class="termsheader">Purpose of Agreement</span>

        <p>
            The EPL Debugger Online Service is made available to you by EsperTech subject to the following Terms of Service.
            EsperTech may also offer other services that are governed by a different Terms of Service.
            EsperTech provides the services only to persons who are above 13 years of age.
            By using the services, you represent that you are 13 years or older.
        </p>

        <span class="termsheader">Description of Service</span>

        <p>
            EsperTech currently offers the EPL Debugger Online Service as a free service.
            The Service enables you to enter EPL statements and execute time and event sequences.
        </p>

        <span class="termsheader">Subscription to EPL Debugger Online Service</span>

        <p>
            You may subscribe to EPL Debugger Online Service by agreeing to the terms and conditions herein at the EPL Debugger Online website.
            EsperTech reserves the right to modify or discontinue, at any time and from time to time, temporarily or
            permanently, the service (or any part thereof) with or without notice.
            You agree that EsperTech shall not be liable to you or to any third party for any harm related to,
            arising out of, or caused by the modification, suspension or discontinuance of the Service for any reason.
        </p>

        <span class="termsheader">Modification of Terms of Service</span>

        <p>
            EsperTech may modify these Terms of Service upon notice to you at any time.
            You will be provided notice of any such modification by electronic mail, if you are subscribed to
            the Esper user mailing list, or by publishing the changes on the web page.
            In the event EsperTech modifies these Terms of Service, you may terminate your use of the Service.
            Your continued use of the Service after notice of any change to the Terms of Service will be deemed to be
            your agreement to the amended Terms of Service.
        </p>

        <span class="termsheader">Member Registration Obligations</span>

        <p>
            In consideration of your use of the Service, no registration is required.
        </p>

        <span class="termsheader">Personal Information and Privacy</span>

        <p>
            Personal information you provide to EsperTech through the Service, if any, is governed by EsperTech Privacy Policy
            and applicable laws related to personal information. Your election to use the Service indicates your acceptance
            of the terms of the EsperTech Privacy Policy.
        </p>


        <span class="termsheader">Communications from EsperTech</span>

        <p>
            The Service may include certain communications from EsperTech, such as service announcements,
            administrative messages and newsletters. You understand that these communications shall be considered
            part of using the Services and that you will not be able to opt out of receiving them.
            Further, EsperTech reserves the right to send electronic mail to you, informing you of changes or additions
            to the Terms of Service, provided that you have subscribed to EsperTech or Esper mailing lists.
        </p>

        <span class="termsheader">Fees and Payments</span>

        <p>
            The Service is provided for free.
        </p>

        <span class="termsheader">Restriction of use</span>

        <p>
            In addition to all other terms and conditions of this Agreement, you shall not:
            (i) transfer or otherwise make available to any third party the services;
            (ii) provide any service based on the services;
            (iii) use the third party links to sites without agreeing to their website terms & conditions;
            (iv) post any third party link sites including their logo, company name, etc. without their prior written permission; or
            (v) use the Service for illegal purposes.
        </p>

        <span class="termsheader">Trademarks</span>

        <p>
            EsperTech, the EsperTech logo, Esper and the Esper logo are trademarks of EsperTech.
            You agree not to display or use, in any manner, the EsperTech trademarks,
            without EsperTech's prior permission.
        </p>

        <span class="termsheader">Disclaimer of Warranties</span>

        <p>
            YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE USE OF THE SERVICE IS AT YOUR SOLE RISK.
            THE SERVICE IS PROVIDED ON AN AS-IS-AND-AS-AVAILABLE BASIS.
            ESPERTECH EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING,
            BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
            NON-INFRINGEMENT. ESPERTECH MAKES NO WARRANTY THAT THE SERVICE WILL BE UNINTERRUPTED, TIMELY,
            SECURE, OR VIRUS FREE. USE OF THE SERVICE WILL BE AT YOUR OWN DISCRETION AND RISK AND YOU WILL
            BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM, MOBILE TELEPHONE,
            WIRELESS DEVICE OR DATA THAT RESULTS FROM THE USE OF THE SERVICES.
            NO ADVICE OR INFORMATION, WHETHER WRITTEN OR ORAL, OBTAINED BY YOU FROM ESPERTECH,
            ITS EMPLOYEES OR REPRESENTATIVES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS OF SERVICE.
        </p>

        <span class="termsheader">Limitation of Liability</span>

        <p>
            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL ESPERTECH BE LIABLE FOR ANY DIRECT,
            CONSEQUENTIAL, INCIDENTAL, INDIRECT, SPECIAL, PUNITIVE, OR OTHER LOSS OR DAMAGE WHATSOEVER OR FOR LOSS
            OF BUSINESS PROFITS, BUSINESS INTERRUPTION, COMPUTER FAILURE, LOSS OF BUSINESS INFORMATION, OR OTHER
            LOSS ARISING OUT OF OR CAUSED BY YOUR USE OF OR INABILITY TO USE THE SERVICE, EVEN IF ESPERTECH HAS
            BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH
            ESPERTECH RELATED TO THE SERVICE SHALL BE CANCELLATION OF THE SERVICE.
            The exclusion or limitation of liability for consequential or incidental damages may not apply to you
            if your state does not permit such exclusion or limitation of liability.
        </p>

        <span class="termsheader">Indemnification</span>

        <p>
            You agree to indemnify and hold harmless EsperTech, its officers, directors, employees, suppliers,
            and affiliates, from and against any losses, damages, fines and expenses (including attorney's fees and costs)
            arising out of or relating to any claims that you have used the Service in violation of another party's rights,
            in violation of any law, in violations of any provisions of these Terms of Service, or any other claim related
            to your use of the Service.
        </p>

        <span class="termsheader">Termination</span>

        <p>
            You agree that EsperTech may terminate your access to the Service for reasons including,
            but not be limited to, breaches or violations of these Terms of Service or the EsperTech Privacy Policy,
            a request by you to terminate your access to the Service, discontinuance or material modification to the Services,
            unexpected technical issues or problems, extended periods of inactivity and requests by law enforcement or other
            government agencies.
        </p>

        <br/>
        <p>
            END OF TERMS OF SERVICE
        </p>

        <br/>
        <p>
            If you have any questions or concerns regarding this agreement, please contact us at info@espertech.com
        </p>
        <br/>
    </div>
</div>
