<div id="browse_dataflows" ng-controller="DataflowBrowseController">
    <div class="pull-right">
        <button type="submit" ng-click="doRefresh()" class="btn button-bar-margin">Refresh</button>
        <input type="image" src="/esperhqapp/assets/help.png" ng-click="doHelp()" class="button-bar-margin"/>
    </div>
    <div class="clear"></div>
    <div id="dataflows_div">
        <table width="100%">
            <thead>
                <tr>
                    <th>Dataflow Name</th>
                    <th>Expression</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
