<div id="browse_dataflowinstances" ng-controller="DataflowInstanceBrowseController">
    <div class="pull-right">
        <button type="submit" ng-click="doRefresh()" class="btn button-bar-margin">Refresh</button>
        <input type="image" src="/esperhqapp/assets/help.png" ng-click="doHelp()" class="button-bar-margin"/>
    </div>
    <div class="clear"></div>
    <div id="dataflowinstances_div">
        <table width="100%">
            <thead>
                <tr>
                    <th>Instance Name</th>
                    <th>Instance Id</th>
                    <th>Dataflow Name</th>
                    <th>State</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
