<div ng-controller="EventTypeBrowseController">
    <div class="pull-right">
        <button type="submit" ng-click="doRefresh()" class="btn button-bar-margin">Refresh</button>
        <input type="image" src="/esperhqapp/assets/help.png" ng-click="doHelp()" class="button-bar-margin"/>
    </div>
    <div class="clear"></div>
    <div id="eventtypebrowse_listdiv">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Use</th>
                <th>Properties</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
