<div ng-controller="StatementSelectionSharedController">
    <form id="form" novalidate name="form" ng-submit="doSubmit()">
        <div class="row-fluid">
            <div class="span2"><div class="pull-right"><span>Statement Name:</span></div></div>
            <div class="span2"></div>
            <div class="span3"><select ng-model="filter.choiceStmt" ng-options="e.name for e in stringFilterChoices"></select></div>
            <div class="span4"><input type="text" ng-model="filter.statementName"/></div>
            <div class="span1"><button type="submit" ng-click="doAddNameCriteria()" class="btn">Add</button></div>
        </div>

        <div class="row-fluid">
            <div class="span2"><div class="pull-right"><span>EPL Expression:</span></div></div>
            <div class="span2"></div>
            <div class="span3"><select ng-model="filter.choiceEPL" ng-options="e.name for e in stringFilterChoices"></select></div>
            <div class="span4"><input type="text" ng-model="filter.epl"/></div>
            <div class="span1"><button type="submit" ng-click="doAddEPLCriteria()" class="btn">Add</button></div>
        </div>

        <div class="row-fluid">
            <div class="span2"><div class="pull-right"><span>State:</span></div></div>
            <div class="span2"></div>
            <div class="span3"><select ng-model="filter.choiceState" ng-options="e.name for e in stateFilterChoices"></select></div>
            <div class="span4"></div>
            <div class="span1"><button type="submit" ng-click="doAddStateCriteria()" class="btn">Add</button></div>
        </div>

        <div class="row-fluid">
            <div class="span2"><div class="pull-right"><span>User Object:</span></div></div>
            <div class="span2"></div>
            <div class="span3"><select ng-model="filter.choiceUO" ng-options="e.name for e in stringFilterChoices"></select></div>
            <div class="span4"><input type="text" ng-model="filter.userObject"/></div>
            <div class="span1"><button type="submit" ng-click="doAddUOCriteria()" class="btn">Add</button></div>
        </div>

        <div class="row-fluid">
            <div class="span2"><div class="pull-right"><span>Tag Name:</span></div></div>
            <div class="span2"><input type="text" ng-model="filter.tagName" class="input-small"/></div>
            <div class="span3"><select ng-model="filter.choiceTagName" ng-options="e.name for e in stringFilterChoices"></select></div>
            <div class="span4"><input type="text" ng-model="filter.tagValue"/></div>
            <div class="span1"><button type="submit" ng-click="doAddTagCriteria()" class="btn">Add</button></div>
        </div>
        <div class="row-fluid" ng-show="requiredTagName">
            <div class="span12 label-required">Tag name is required</div>
        </div>

        <div class="row-fluid">
            <div class="span2"><div class="pull-right"><span>Selection Expression:</span></div></div>
            <div class="span10">
                <textarea rows="2" class="predefined-50wide" ng-model="dialogSelectionExpr" ng-change="doChangeSelectionExpr()"></textarea>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2"><div class="pull-right"><span>Conjunction:</span></div></div>
            <div class="span2"><input type="radio" ng-model="filter.conjunction" value="and"/><span class="input-radio-span-padding">And</span></div>
            <div class="span2"><input type="radio" ng-model="filter.conjunction" value="or" /><span class="input-radio-span-padding">Or</span></div>
            <div class="span2"><input type="radio" ng-model="filter.conjunction" value="and not" /><span class="input-radio-span-padding">And Not</span></div>
        </div>
    </form>
</div>
